# Virtual environment
prepare/keyword_consolidator/venv/
prepare/keyword_consolidator/_pycache/
prepare/keyword_consolidator/temp.txt
partial_output/
collect/extract_breitbart/sample_result.json
collect/extract_guardian/filter.py
collect/extract_guardian/filtered_articles_part1.json
collect/extract_guardian/app.py
collect/extract_guardian/filtered_data/
collect/extract_guardian/filtered_daterange_data/
collect/extract_guardian/.venv/
collect/extract_guardian/data/
collect/extract_guardian/README.md
prepare/kg_dataloader/check_breitbart_data.py
prepare/kg_dataloader/compare_json_structure.py
prepare/kg_dataloader/extract_breitbart.py
prepare/kg_dataloader/extract_guardian.py
access/Backend_Services/.venv/
access/Backend_Services/_pycache/
access/Backend_Services/.env
access/frontend/node_modules/
access/frontend/.nuxt/
access/frontend/dist/
access/frontend/.output/
access/frontend/.env
access/frontend/.env.local
access/frontend/.env.*.local
access/frontend/nuxt.d.ts
access/frontend/.vscode/
access/frontend/.idea/
access/frontend/*.log
access/frontend/npm-debug.log*
access/frontend/yarn-debug.log*
access/frontend/yarn-error.log*
access/frontend/.DS_Store
access/frontend/Thumbs.db
Untitled.png
datasets/
documents/